<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronin.eventbus.kotlin">

    <application
        android:name="com.ronin.learn.application.RApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ronin.learn.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name="com.ronin.learn.activity.SecActivity" />
        <activity android:name="com.ronin.learn.activity.TestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ronin.learn.ibinderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process="com.binderpool.service" />
    </application>

</manifest>